.intro {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: url('./resources/background-image-800.jpg') no-repeat right;
  display: table;
  top: 0;
  background-size: cover;
}

.embedded-video {
  width: 300px;
  height: 169px;;
}

@media screen and (min-width: 600px) {
  .embedded-video {
    width: 420px;
    height: 236px;
  }
}

@media screen and (min-width: 800px) {
  .embedded-video {
    width: 560px;
    height: 315px;
  }
}

@media screen and (min-width: 1000px) {
  .embedded-video {
    width: 700px;
    height: 394px;
  }
}

html {
  overflow-y: scroll;
  background-color: rgb(255, 244, 229)
}

.breadCrumb {
  color: black;
  float: left;
  margin-left: 1vw;
}

.privacy {
  text-align: left;
  width: 95%;
  margin: auto;
}

.home {
  background-color: rgb(255, 244, 229);
  width: 100vw;
  height: 100vh;
}

.home-title {
  height: 100vh;
}

#portal-image {
  width: 60vw;
}

@media screen and (min-width: 400px) {
  #portal-image {
    width: 50vw;
  }
}

@media screen and (min-width: 1000px) {

  #portal-image {
    width: 30vw;
  }

  body {
    width: 100vw;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -99;
  }
}

@media screen and (min-width: 800px) {
  #portal-image {
    width: 40vw;
  }

  .insurance {
    margin-left: 10vw;
    margin-right: 10vw;
    min-width: 80vw;
  }

  .patient-forms {
    margin-left: 10vw;
    margin-right: 10vw;
    min-width: 80vw;
  }
}

@media screen and (min-width: 1300px) {
  #portal-image {
    width: 20vw;
  }
}


.newClass {
  background-color: rgb(255, 244, 229);
  display: table;
  clear: both;
  content: "";
}

.portal {
  height: 100vh;
  width: 100vw;
}

.content {
  width: 100%;
  float: left;
}

#medication {
  margin-top: 3%;
}


h1 {
  font-family: 'OriginsSmooth-Regular';
  font-size: 3em;
  font-weight: lighter;
  color: rgb(199, 131, 132);
  margin: .25em -.5em -.5em -.5em;
  text-shadow: .5px .5px black;
}

h2 {
  font-family: 'OriginsSmooth-Regular';
  font-size: 2.6em;
  font-weight: lighter;
  color: rgb(253, 156, 106);
  text-shadow: .5px .5px black;
}

h3 {
  font-size: 1.4em;
  color: rgb(94, 148, 143)
}

.App {
  text-align: center;
  background-color: rgb(255, 244, 229)
}

ul {
  text-align: left;
}

li {
  margin-bottom: 10px;
}

.App-bug {
  animation: App-bug-fly infinite 20s linear;
  height: 40%;
}

.App-header {
  background-image: url('./resources/Header.jpg');
  background-size: cover;
  background-position-x: 66%;
  height: 20vh;
  padding: 20px;
  color: rgb(180, 99, 76);
}

.App-title {
  font-size: 3.5em;
  margin: 0;
  background-position-y: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  color: whitesmoke;
}

.App-sub-title {
  font-size: 1.6em;
  display: inline-block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(202, 120, 99);
}

.App-intro {
  display: block;
  font-size: large;
}

nav {
  margin: auto;
  line-height: 3em;
  background-color: rgb(253, 211, 151);
  height: 3em;
}

nav a {
  color: black;
  margin: 20px 20px 20px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

nav a.active-page {
  font-weight: bold;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
}

.left {
  margin: auto;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

iframe {
  width: 100%;
}

.left.middle {
  min-width: 70%;
  margin: auto;
}

.right.middle {
  width: 70%;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .left {
    margin-left: 2%;
    display: block;
    float: left;
    width: 37%;
    min-width: 37%;
  }
  .left-inner {
    width: 100%;
    display: block;
  }
  .left.middle {
    margin-left: 15%;
    width: 35%;
    min-width: 35%;
    padding: 0px;
  }
  .right.middle {
    margin-right: 8%;
    width: 35%;
    min-width: 35%;
    padding: 0px;
  }
}

.right {
  margin: auto;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

@media screen and (min-width: 800px) {
  .right {
    margin-right: 2%;
    display: block;
    float: right;
    width: 37%;
    min-width: 37%;
  }
  .right-inner {
    width: 100%;
    display: block;
  }
  .resource-list:first-child {
    text-align: left;
    align-content: left;
    margin-left: 7vw;
    margin-top: 5vw;
  }
}

.heading-left {
  text-align: left;
}

.list-addon {
  margin-top: -1.5em;
}

.content-text {
  text-align: justify;
}

.inherit-align {
  text-align: inherit;
}

.center-align {
  text-align: center;
}

.full {
  margin: auto;
  width: 65%;
}

.fuller {
  margin: auto;
  width: 80%;
}

.page-header {
  width: 100vw;
}

.staff-about-picture {
  width: 64vw;
  margin-bottom: 2%;
}

.full-width-image {
  width: 80vw;
}

@media screen and (min-width: 800px) {
  .staff-about-picture {
    width: 100%;
  }
  .resource-list {
    text-align: left;
    align-content: left;
    margin-left: 7vw;
    margin-top: 7vh;
  }
}

.location-map {
  min-width: auto;
}

.list-button {
  display: none;
}

@media screen and (min-width: 1120px) {
  .list-button {
    float: left;
    height: 4vw;
    width: 4vw;
    border: none;
    padding: 4px;
    border-radius: 4px;
    background-image: url('./resources/list-button.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-flex;
  }
}

.list-button:hover {
  border: 1px solid rgb(253, 211, 151);
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(253, 211, 151), 0 0 10px rgb(253, 211, 151);
}

.glow {
  padding: 6px;
  margin: -0.5em;
  display: inline;
  text-decoration: underline;
}

li.glow {
  display: block;
}

.glow:hover {
  color: black;
  padding: 5px;
  border: 1px solid rgb(253, 211, 151);
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(253, 211, 151), 0 0 10px rgb(253, 211, 151);
}

.list-button-label {
  text-align: left;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0px 1vw;
  display: inline-block;
  overflow: hidden;
}

.siteMap-main-section {
  font-size: 1.4em;
  text-align: center;
  text-decoration: underline;
}

.siteMap-secondary-section {
  font-size: 1.0em;
  text-align: center;
}

.siteMap-list-item {
  margin-bottom: 2vh;
}

@media screen and (min-width: 00px) {
  .page-footer-image {
    content: "";
    background: url('./resources/bottom-shape.png') repeat-x;
    height: 10vh;
    background-size: 100vw;
    bottom: 0vh;
    margin-top: 5vh;
    display: flex;
    align-items: flex-end;
    clear: both;
  }
}

@media screen and (min-width: 300px) {
  .page-footer-image {
    height: 5vh;
  }
}

@media screen and (min-width: 400px) {
  .page-footer-image {
    height: 5vh;
  }
}

@media screen and (min-width: 500px) {
  .page-footer-image {
    height: 16vh;
  }
}

@media screen and (min-width: 600px) {
  .page-footer-image {
    height: 17vh;
  }
}

@media screen and (min-width: 700px) {
  .page-footer-image {
    height: 17vh;
  }
}

@media screen and (min-width: 800px) {
  .page-footer-image {
    height: 19vh;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer-image {
    height: 20vh;
  }
}

@media screen and (min-width: 1300px) {
  .page-footer-image {
    height: 20vh;
  }
}

.page-footer-text {
  background-color: rgb(255, 244, 229);
  margin: 0 auto;
  padding-top: 1em;
}

.page-footer-nav {
  background-color: rgb(255, 244, 229);
}

a .button-google {
  width: 133px;
}

a .button-apple {
  width: 133px;
}

.header-logo {
  max-width: 100vw;
  height: 100%;
  position: relative;
  left: -20vw;
  top: 0vw;
}

/* @media screen and (min-width: 300px) {
  .header-logo {
    left: -12vw;
  }
} */

@media screen and (min-width: 0px) {
  .home-logo {
    width: 75vw;
    position: relative;
    left: -5vw;
    top: 15vh;
    margin-left: 8%;
  }
}

@media screen and (min-width: 500px) {
  .home-logo {
    width: 75vw;
    position: relative;
    left: -5vw;
    top: 5vh;
  }
}

@media screen and (min-width: 650px) {
  .home-logo {
    width: 65vw;
    position: relative;
    left: -5vw;
    top: 5vh;
  }
}

@media screen and (min-width: 800px) {
  .home-logo {
    width: 55vw;
    position: relative;
    left: -15vw;
    top: 5vh;
  }
}

@media screen and (min-width: 1000px) {
  .home-logo {
    width: 65vw;
    position: relative;
    left: -20vw;
    top: 15vh;
  }
}

@media screen and (min-width: 1380px) {
  .home-logo {
    width: 50vw;
    position: relative;
    left: -15vw;
    top: 15vh;
  }
}

@keyframes App-bug-fly {
  from {
    transform: rotate(0deg);
    transform: translate(-80vw);
  }
  to {
    transform: rotate(360deg);
    transform: translate(120vw);
  }
}

.hamburger {
  display: none;
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
    margin: 0px 0px 0px 0px;
    width: 50px;
  }
  nav a.active-page {
    font-weight: normal;
    display: block;
  }
  .nav-menu-container {
    width: 100%;
    height: 400px;
  }
  .nav-link-area {
    top: -0.8vh;
    background-color: rgb(212, 178, 210);
    width: 75vw;
    z-index: 1;
    position: relative;
    clear: both;
    content: '';
  }
  nav a.main-nav {
    display: none;
  }
  nav a.main-nav.responsive-nav-link {
    text-align: left !important;
    display: block;
    font-size: 2em !important;
    height: 2em;
    line-height: 2em !important;
    margin: 2px 0px 0px 0px;
  }
}

table {
  display: none;
}

@media screen and (min-width:500px) {
  #table-warning {
    display: none;
  }
  table {
    display: block;
    font-size: 0.8em;
    margin: auto;
    margin-top: 4%;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  th:first-child {
    font-weight: bold;
    font-size: 1.2em;
  }
  th {
    font-weight: bold;
    border: 1px solid black;
  }
  td:first-child {
    font-weight: bold;
    border: 1px solid black;
  }
  td {
    width: calc(80vw/6);
    border: 1px solid black;
  }
}

.contact {
  min-width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: block;
}

form {
  display: table;
}

.contact-message {
  min-height: 30vh;
}

.contact-label {
  text-align: left;
  margin-bottom: 0;
}

.contact-email {
  min-height: 1.5em;
}

.warning {
  margin-top: 1em;
  color: red;
  font-weight: bold;
}

.advice {
  margin-bottom: -0.5em;
}

#cdc-vaccine {
  display: none;
}

@media screen and (min-width: 900px) {
  table {
    font-size: 1em;
  }
  #cdc-vaccine {
    display: block;
  }
  #cdc-vaccine-link {
    display: none;
  }
}

.phone {
  cursor: text;
}

.PrenatalPartyInvite {
  width:85vw;
  margin-top:3vh;
}

@media screen and (min-width: 800px) {
  .PrenatalPartyInvite {
    width:60vw;
    margin-top:3vh;
  }
}

#title-announcement {
  color: rgb(249, 128, 0);
  text-shadow: 1px 1px black;
}

#announcements > * > p {
  margin: 3px;
}